.autogen-page-layout{
    padding-top: 50px;
    background-color: rgb(255, 237, 216);
    max-width: 1680px !important;
    width: 66vw;
    margin: 0 auto;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
}

.autogen-layout{
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start; */
    padding-top: 20px;
    background-color: rgb(255, 255, 255);
    /* flex-wrap: wrap; */
    
}

.autogen-item{
    /* justify-content: left; */
    /* background-color: aqua; */
    margin: 1vw;
    border: 10px aqua;
    padding: 1vw;
    /* width: 1400px; */

    /* border-width: 1px;
    border-style: solid;
    border-color: #8b8b8b; */
    background-color: aliceblue;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}


.autogen-item img{
    /* height: 400px; */
    width: 100%;
    height: auto;
    /* background-color: black; */
}

.autogen-item p{
    text-align: left;
    /* background-color: aliceblue; */
    width: 18vw;
}

.clicked-thumb{
    color: green;
}

.horizontal{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    /* width: 18vw; */
    width: 200px;
    /* background-color: blueviolet; */
}

.like-orginize{
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* background-color: brown; */
    width: 80px;
}

.background-debug{
    /* background-color: blue; */
}