.unavailable-name{
    background-color: rgb(255, 126, 126);
    display: "inline";
    padding: 5px;
    border-radius: 10px;
}

.available-name{
    background-color: rgb(135, 255, 151);
    display: "inline";
    padding: 5px;
    border-radius: 10px;
}

.name-availability-orginization{
    /* margin-top: 15px; */
    margin-left: 10px;
    /* background-color: blue; */
}

.input-style{
    background-color: rgb(255, 237, 216);

    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;

    width: 90vw;
    max-width: 800px;
    min-width: 200px;

    border: 1px;
    border-style: solid;
    border-color: black;

    display: flex;
    flex-direction: column;

    justify-content: center;
    position: relative;
}

.flash-text {
    animation: flash .3s 2 alternate;
}

.input-style input {
    height: 35px;
    font-size: 20px;
    width: 270px;
}

.height-selector{
    height: 45px;
    font-size: 20px;
    width: 250px;
}

.usersetup-form-orginizer{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-name{
    display: flex;
    align-items: center;
    width: 390px;
    justify-content: space-between;
    position: relative;
}

.input-name-right{
    display: flex;
    align-items: center;
    width: 350px;
    justify-content: space-between;
    position: relative;
}

.usersetup-user-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 390px;
    position: relative;
    /* background-color: brown; */
}

.horizontal-profile-create{
    display: flex;
    align-items: center;
    /* background-color: brown; */
    margin-bottom: 20px;
}

.necessary-asterisk-weight{
    color: rgb(255, 32, 32);
    position: absolute;
    right: 280px;
    top: 10px;
}
.necessary-asterisk-height{
    color: rgb(255, 32, 32);
    position: absolute;
    right: 252px;
    top: 8px;
}
.necessary-asterisk-username{
    color: rgb(255, 32, 32);
    position: absolute;
    right: 280px;
    top: 10px;
}

.asterisk-legend{
    position: absolute;
    right: 20px;
    top: -10px;
}

.asterisk-in-legend{
    color: rgb(255, 32, 32);
    position: absolute;
    right: 200px;
    top: 25px;
}