.review-sidebar-org{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.review-sidebar-org .ReviewSidebar{
    flex-grow: 1;
}

.review-sidebar-org .ReviewPopulator{
    flex-grow: 5;
}

