.review-content{
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 50px;
}

.review-sidebar-org .ReviewSidebar{
    flex-grow: 1;
}

.review-sidebar-org .ReviewPopulator{
    flex-grow: 5;
}

