.review-content{
    display: flex;
    padding-top: 50px;
    height: 100vh;
    width: 95vw;
    background-color: rgb(166, 233, 112);
}


.sidebarsize {
    width: 250px;
    height: 100vh;  /* Sets the height of the sidebar to cover the entire viewport */
    color: rgb(172, 7, 187);  /* Sets the text color */
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);  /* Adds a shadow effect to the right of the sidebar */
    position: fixed;
    top: 5;
    left: 0;
    overflow-y: auto;
}

.Populator {
    margin-left: 250px;
    flex-grow: 1;
    background-color: rgb(13, 99, 170);
}