.User-page{
    padding-top: 70px;
}

.User-Reviews{
    background-color: aquamarine;
    width: 80vw;
    padding-top: 20px;
}

/* .user-autogen-item{
    margin: 1vw;
    border: 10px aqua;
    padding: 1vw;
    background-color: aliceblue;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.user-autogen-item img{
    width: 100%;
    height: auto;
}

.user-review-options{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: aliceblue;
}

.user-review-options:hover {
    border-color: aliceblue;
}

.user-review-options-icon{
    background-color: aliceblue;
    height: 10vh;
    transform: grow-2;
} */