.preview-img-container{
    /* flex-direction: row; */
    flex-wrap: wrap;
    /* flex-flow: row wrap; */
    display: flex;
    justify-content: left;
    width: 82vw;
    /* background-color: rgb(169, 238, 255); */
    border-left: 1px solid #8b8b8b;
}

.preview-img-container a{
    color: rgb(236, 150, 150);
}