.preview-img-container{
    /* flex-direction: row; */
    flex-wrap: wrap;
    /* flex-flow: row wrap; */
    display: flex;
    justify-content: left;
    width: 82vw;
    /* background-color: black; */
}

.preview-img-container a{
    color: brown;
}