.centered-div {
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.preview-img {
  width: 50vw;
}

.review-header{
  width: 30vw;
  padding: 10px;
  font-size: 16px;
  color: black;
}

.review-body{
  width: 30vw;
  height: 10vh;
  padding: 10px;
  font-size: 16px;
  color: black;
}

.textbox {
  /* outline: 4px; */
  width: 30vw;
  min-height: 10vh; /* Minimum height */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  resize: vertical; /* Prevent manual resizing */
  overflow-wrap: break-word; /* Ensures words wrap correctly */
  word-wrap: break-word;
  white-space: pre-wrap; /* Preserves spaces and line breaks */
}

.background-color{
  background-color: rgb(255, 237, 216);
  padding: 30px;
  padding-bottom: 40px;
  /* width: 40vw; */
}

.horizontal-items{
  width: 30vw + 20px;
  /* height: 30vh; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: rgb(89, 201, 201); */
  
}

.notCrop div{
  width: 48%;
  /* background-color: aquamarine; */
}

.horizontal-items div select{
  width: 95%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  color: black;
}

.horizontal-items div input{
  width: 95%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  color: black;
}

.aligning-top{
  align-self: flex-start;
  /* background-color: aquamarine; */
}

.item-link-sizing{
  width: 49%;
}

.height-matcher{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-color{
  color: black;
}

/* .star-rating-position{
  
  background-color: aqua;
} */

.star-organize{
  margin-left: 20%;
  display: flex;
  flex-direction: row;
}

.flash-submit {
  animation: flash .3s 2 alternate;
}