.preview-background-homepage{
    border-radius: 0px;
    /* border-width: 1px;
    border-style: solid;
    border-color: #8b8b8b; */
    /* border-bottom: 1px solid #8b8b8b; */
    border-right: 1px solid #8b8b8b;

    width: 300px;
    height: 400px;
    flex: initial;

    display: flex;
    flex-direction: column;
    /* background-color: blue; */
}

.preview-background-homepage img{
    width: 262.5px;
    height: 280px;
    margin-top: 30px;
    margin: auto;
    display: block;
}

.line-margin-homepage{
    line-height: .4;
    float: left;
    margin-left: 10px;
    text-align: left;
    flex: initial;
    color: rgb(0, 0, 0);
}