.img-background{
    background-color: rgb(11, 175, 38);
    border-radius: 15px;
    width: 300px;
    height: 300px;
}

.preview-background img{
    width: 240px;
    height: 240px;
    margin-top: 30px;
}

.line-margin{
    line-height: .4;
    float: left;
    margin-left: 10px;
    text-align: left;
}
