.sidebar {
  width: 250px;  /* Sets the width of the sidebar */
  height: 100vh;  /* Sets the height of the sidebar to cover the entire viewport */
  color: rgb(172, 7, 187);  /* Sets the text color */
  box-shadow: 2px 0 5px rgba(0,0,0,0.5);  /* Adds a shadow effect to the right of the sidebar */
  position: fixed; /* Sticks the sidebar to the left */
  top: 5;
  left: 0;
  overflow-y: auto;
}

.menustyling {
  text-align: left;
}