.sidebar {

    width: 250px;  /* Sets the width of the sidebar */
    height: 60vh;  /* Sets the height of the sidebar to cover the entire viewport */
    background-color: #333;  /* Sets a background color */
    color: rgb(10, 109, 31);  /* Sets the text color */
    padding: 20px;  /* Adds padding inside the sidebar */
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);  /* Adds a shadow effect to the right of the sidebar */
    z-index: -1;
  }
  