.sidebar {
  width: 250px;
  height: 100vh;  /* Sets the height of the sidebar to cover the entire viewport */
  color: rgb(0, 0, 0); 
  box-shadow: 2px 0 5px rgba(0,0,0,0.5);  /* Adds a shadow effect to the right of the sidebar */
  position: fixed;
  top: 5;
  left: 0;
  overflow-y: auto;
}

.menustyling {
  text-align: left;
}

.updateButton {
  width: 230px;
  height: 50px;
}

.review-header-reviewPage{
  width: 30vw;
  padding: 10px;
  font-size: 16px;
  color: black;
}

.textbox-reviewPage {
  /* outline: 4px; */
  width: 30vw;
  min-height: 10vh; /* Minimum height */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  resize: vertical; /* Prevent manual resizing */
  overflow-wrap: break-word; /* Ensures words wrap correctly */
  word-wrap: break-word;
  white-space: pre-wrap; /* Preserves spaces and line breaks */
}